@use "../abstract/mixin" as responsive;

.header {
  background-color: #ffff;
  height: auto;
  &__content {
    display: flex;
  }
}

.nav {
  width: 100%;
  &__list {
    height: 7rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    &-buttons {
      list-style: none;
      display: flex;
      transition: all 0.3s;
    }
    &-icons {
      list-style: none;
      position: relative;

      display: flex;
      align-items: center;
      transition: all 0.3s;

      & .svg {
        height: 1.8rem;
        width: 1.8rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          transform: translateY(-4px);
        }
      }
    }

    &-buttons:hover,
    &-icons:hover {
      transform: translateY(-4px);
    }
  }

  @include responsive.screen(phone) {
    .nav__list-buttons,
    .nav__list-icons {
      display: none;
    }
  }
}
