/* FIRST SECTION */
.section-top {
  width: 100%;
  height: 100vh;
  //   height: 100%;
  background-color: var(--color-black);

  .content-section {
    display: flex;
    justify-content: space-around;

    &__introduction {
      background-color: var(--color-black);
      min-width: 40%;
      height: 50rem;
      margin-top: 6rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    & .section-list {
      &__buttons {
        list-style: none;

        display: flex;
        align-items: center;
        margin-top: 1rem;

        &--contact {
          background-color: #ffffffdb;
          border-radius: 4rem;
          text-align: left;

          height: 2.3rem;
          width: 13rem;
          padding: 1rem;

          display: flex;
          justify-content: space-around;
          align-items: center;

          .arrow {
            background-color: black;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            transition: all 0.3s;
            position: relative;
          }

          &:hover {
            .arrow {
              transform: scale(3);

              &-link {
                visibility: visible;
                z-index: 10;
                position: absolute;
                transform: scale(0.3) translate(-70%, -70%);
              }
            }
          }

          .arrow-link {
            visibility: hidden;
            width: 1.8rem;
            height: 1.8rem;
            fill: var(--color-white);
          }
        }

        &--linkedin,
        &--github {
          background-color: rgb(31, 31, 31);
          display: flex;
          align-items: center;
          justify-content: center;

          width: 1.4rem;
          height: 1.4rem;
          padding: 1rem;

          & .svg {
            width: 1.8rem;
            height: 1.8rem;
            fill: rgb(173, 215, 110);
          }

          border-radius: 50%;
        }
      }
    }

    &__profile {
      //   background-color: gray;
      min-width: 40%;
      margin-top: 6rem;

      &--image {
        background-color: white;
        border-radius: 1.5rem;

        width: 40rem;
        height: 40rem;

        margin: 0 auto;
        margin-top: 6rem;
      }
      //   height: 10rem;
    }
  }
}

/* SECTION SKILLS */
.section-skills {
  height: 70vh;
  background-color: var(--color-white);

  & .section-content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    & .content-skills {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &__skill {
        &:not(:last-child) {
          margin-right: 2rem;
        }

        & .svg {
          display: block;
          margin: auto;

          width: 3.5rem;
          height: 3.5rem;
        }

        width: 10rem;
        height: 7rem;

        border: 2px solid #373737;

        &:hover {
          background-color: var(--color-black);
          color: var(--color-white);

          & .svg {
            fill: var(--color-white);
          }
        }

        padding: 1.5rem;
      }
    }
  }
}

/*SECTION ABOUT ME*/
.section-about {
  height: 100vh;
  width: 100%;
  background-color: var(--color-black);

  & .about {
    display: flex;

    &__content {
      width: 60%;
      margin-top: 6rem;
    }

    &__image {
      background-color: rgba(255, 255, 255, 0.579);
      border-radius: 1.5rem;

      width: 40rem;
      height: 40rem;

      margin: 0 auto;
      margin-top: 6rem;
    }
  }
}

/* SECTION PROJECTS */
.section-projects {
  height: 100%;
  width: 100%;
  background-color: white;

  & .projects {
    width: 80%;

    margin: 0 auto;

    display: flex;
    align-items: center;

    &__content {
      width: 60%;
      margin-top: 6rem;
    }
    &__image {
      background-color: black;
      border-radius: 1.5rem;

      width: 36rem;
      height: 30rem;

      margin-right: auto;
      margin-top: 6rem;
    }
  }
}

.links {
  margin-top: 2rem;

  &__list {
    list-style: none;
    display: flex;
  }

  &__link {
    margin-right: 1rem;

    display: flex;
    align-items: center;
    transition: all 0.3s;

    & .svg {
      padding-left: 0.8rem;
      width: 1.5rem;
      height: 2rem;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.invert-direction {
  flex-direction: row-reverse;
}

/* SECTION CONTACT */
.section-contact {
  height: 100vh;
  width: 100%;
  background-color: white;

  display: flex;
  justify-content: center;

  &__content {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-self: center;
  }
}

.information {
  height: 35rem;
  width: 40rem;

  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  .footer {
    display: flex;
    align-items: flex-end;
  }
}
