@use "../abstract/mixin" as mixin;

.dark-mode {
  background-color: var(--color-black);

  //   MENU
  .menu {
    * {
      @include mixin.colorMode(white);
    }

    &__list {
      border: 1px solid rgba(255, 255, 255, 0.344);
    }
  }
  //   SECTION INTRODUCTION
  .header__title {
    color: var(--color-white) !important;
  }

  .nav__list {
    .svg {
      fill: var(--color-white);
    }

    &-buttons {
      color: var(--color-white);

      &:hover {
        color: var(--color-yellowGreen);
      }
    }
  }
  // SECTION SKILLS
  .section-content {
    * {
      @include mixin.colorMode(white);
    }

    & .content-skills {
      &__skill {
        &:hover {
          background-color: var(--color-white);
          * {
            @include mixin.colorMode(black);
          }
        }
      }
    }
  }

  // SECTION PROJECTS
  .section-projects {
    &__title {
      color: var(--color-white);
    }
  }
  .projects {
    color: var(--color-white);

    &-description__text {
      color: var(--color-white);
    }

    .links__link {
      border-color: var(--color-white);

      @include mixin.colorMode(white);
    }
  }

  // SECTION CONTACT
  .section-contact__content {
    * {
      color: var(--color-white);
    }
    & input[type="text"],
    & input[type="email"],
    & textarea {
      border-color: var(--color-white);
      box-shadow: var(--box-shadow-white);
    }

    & button {
      background-color: var(--color-white);
      color: var(--color-black);
      box-shadow: var(--box-shadow-white);
    }
  }
}
