.light-mode {
  background-color: var(--color-white);

  //   MENU
  .menu {
    &__list {
      border: 1px solid rgba(0, 0, 0, 0.47);
    }
  }

  //   SECTION TOP
  .content-section {
    &__introduction {
      background-color: var(--color-white);

      &-title,
      &-text {
        color: var(--color-black);
      }
    }

    & .section-list {
      &__buttons {
        &--contact {
          background-color: var(--color-black);
          color: var(--color-white);

          .arrow {
            background-color: var(--color-black);
          }
        }

        & .svg {
          width: 1.8rem;
          height: 1.8rem;
          fill: var(--color-white);
        }
      }
    }
  }
  // SECTION ABOUT
  .about {
    &__title,
    &__text {
      color: var(--color-black);
    }
  }
}
