@use "../abstract/mixin" as responsive;

.menu {
  display: none;

  &__content {
    height: 95vh;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
  }

  &__list {
    transition: all 2s;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem 0 0 2rem;
    overflow: hidden;
    &-theme {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & button svg {
        margin: 0.7rem;
      }
    }
  }

  &__items ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;

    & li {
      &:first-child {
        margin-top: 7rem;
      }
      margin-top: 4rem;
    }
  }

  &__hamburguer {
    height: 3rem;
    width: 3rem;

    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 1500;
  }

  @include responsive.screen(phone) {
    display: inline-block;
  }
}
