@use "../abstract/mixin" as mixin;

.nav__list-icons--theme {
  display: block;
}

.icons-theme {
  position: absolute;
  top: 3rem;
  left: -4rem;

  border-radius: 0 0 1rem 1rem;

  background-color: var(--color-white);
  & .dark,
  & .default,
  & .light {
    margin-left: 0.9rem;
    width: 16px;
    height: 16px;
  }

  &--dark,
  &--light,
  &--default {
    @include mixin.displaySections(alignItems);
    @include mixin.displaySections(justifyItems);

    background-color: transparent;
    border: none;
    margin: 0.7rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
  }

  &--dark:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    @include mixin.colorMode(var(--color-white));
  }
  &--default:hover {
    background-color: rgba(0, 0, 0, 0.763);
    @include mixin.colorMode(var(--color-white));
  }
}

.arrow-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border: none;
  background: transparent;

  .svg {
    border-radius: 40%;
    background-color: var(--color-white);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }
}
