@use "../abstract/mixin" as responsive;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include responsive.screen(tab-land) {
    font-size: 56.25%;
  }

  @include responsive.screen(tab-port) {
    font-size: 50%;
  }

  @include responsive.screen(big-desktop) {
    font-size: 75%;
  }
}
body {
  background: #626161;
}

main {
  height: 100%;
  width: 100%;
}
