@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Numans&display=swap");

.baloo-bhaijaan {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

.noticia-text-regular {
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: normal;
}

.numans-regular {
  font-family: "Numans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.header {
  &__title {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
  }
}

.nav__list {
  &-buttons {
    font-family: "Noticia Text", serif;
    font-size: 1.7rem;
    font-weight: 700;

    &:hover {
      color: var(--color-yellowGreen);
    }
  }
}

.content-section {
  &__introduction {
    &-title {
      font-size: 5rem;

      color: var(--color-white);

      text-transform: uppercase;

      & .span-hi {
        display: block;
      }
    }
    &-text {
      font-size: 1.5rem;
      font-weight: 400;

      color: #ffffffa9;

      margin-top: 0.8rem;
      width: 80%;
    }
  }
}

.section-content {
  &__title {
    font-size: 2.2rem;
    margin: 5rem;

    & .span-projects {
      font-weight: 700;
    }
  }

  & .content-skills__skill {
    &--title {
      font-size: 1.6rem;
      font-weight: 800;

      margin-top: 1.5rem;
      text-align: center;
    }
  }
}

.about {
  &__title {
    font-size: 2rem;
    font-weight: 500;

    color: var(--color-white);
    & .span-me {
      font-weight: 900;
    }
  }
  &__text {
    font-size: 1.5rem;

    width: 70%;
    margin-top: 2rem;
    color: #afafaf;
  }
}

.section-projects {
  &__title {
    font-size: 2.5rem;

    text-align: center;
    padding-top: 3rem;

    color: var(--color-black);
    & .span-projects {
      font-weight: 900;
    }
  }
}

.links {
  &__link {
    font-size: 1.3rem;

    text-transform: uppercase;
    border-bottom: 2px solid var(--color-black);
    padding: 0.4rem;
  }
}

.projects-description {
  &__title {
    &--number {
      font-size: 3rem;
      font-weight: 900;
    }
    &--project {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 600;

    width: 70%;
    margin-top: 2rem;
    text-transform: capitalize;
    color: var(--color-black);
  }
}

.form {
  input,
  textarea,
  .btn-submit__button {
    font-family: "Noticia Text", serif;
    font-weight: 500;
  }
}

.information {
  &__title {
    font-size: 4rem;
    font-weight: 600;

    & .span-talk {
      font-weight: 900;
      color: #0000008f;
    }
    & .span-line {
      display: block;
    }
  }

  &__email {
    font-size: 2rem;
    font-weight: 800;
    color: #00000073;
  }

  .footer {
    p {
      font-size: 1.2rem;
      font-weight: 600;

      margin-right: 1rem;
    }
  }
}

.icons-theme {
  &--dark,
  &--light,
  &--default {
    font-size: 1.2rem;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-weight: 800;
  }
}
